{
	email admin@72-56-39-78.sslip.io
}

72-56-39-78.sslip.io {
	root * /srv
	encode gzip zstd

	@assets path /assets/*
	header @assets Cache-Control "public, max-age=31536000, immutable"

	@noCache path /service-worker.js /manifest.json
	header @noCache Cache-Control "no-cache, no-store, must-revalidate"

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "geolocation=(), microphone=(), camera=()"
	}

	try_files {path} /index.html
	file_server
}
