{
	email admin@72-56-39-78.sslip.io
}

72-56-39-78.sslip.io {
	encode gzip zstd

	@assets path /assets/*
	header @assets Cache-Control "public, max-age=31536000, immutable"

	@noCache path /service-worker.js /manifest.json
	header @noCache Cache-Control "no-cache, no-store, must-revalidate"

	@uploadedImages path /uploads/*
	header @uploadedImages Cache-Control "public, max-age=31536000, immutable"

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "geolocation=(), microphone=(), camera=()"
	}

	handle /api/* {
		reverse_proxy uploads:3000
	}

	handle /uploads/* {
		root * /srv
		file_server
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
